<nav id="breadcrumbs">
    {% for bc in this.breadcrumbs %}
        {% if not loop.first %}
            <li>/</li>
        {% endif %}
        <li>
            {% if loop.last %}
                {{ bc.name|trim }}
            {% else %}
                {% if bc.url %}
                    <a href="{{ bc.url }}">{{ bc.name|trim }}</a>
                {% else %}
                    {{ bc.name|trim }}
                {% endif %}
            {% endif %}

            {% if bc.items|length > 1 %}
                <nav class="children">
                {% for item in bc.items %}
                    <li>
                        <a href="{{ item.url }}">{{ item.name|trim }}</a>
                    </li>
                {% endfor %}
                </nav>
            {% endif %}
        </li>
    {% endfor %}
</nav>
