<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {%- if title or this.title -%}
        <title>{% if this.title %}{% for title in this.title %}{{ title }}{% if not loop.last %} - {% endif %}{% endfor %}{% else %}{{ title }}{% endif %}</title>
    {%- endif -%}
    <link rel="stylesheet" href="/static_admin/dist/css/1.0.0.all.css"/>
    <script type="text/javascript">
        CKEDITOR_BASEPATH = '/static_admin/vendor/ckeditor/';
    </script>
    <script src="/static_admin/dist/js/1.0.0.all.js"></script>
    <script type="text/javascript">
        CKEDITOR.config.skin = 'moono-dark,/static_admin/ckeditor/mindy/dist/';
        CKEDITOR.config.contentsCss = "/static_admin/ckeditor/mindy/dist/content.css";
    </script>
    <script type='application/javascript' src='/static_admin/dist/wysiwyg/tiny_mce.js'></script>
</head>
<body>
<section id="wrapper">
    <section id="base">
        <section id="base-line">
            <aside id="sidebar">
                <header id="header">
                    <nav class="manage right">
                        <a href="/" target="_blank" rel="tooltip" title="{{ t('Open site', 'admin') }}">
                            <i class="icon-link"></i>
                        </a>
                        <a href="{% url 'admin:changepassword' user.pk %}" rel="tooltip" title="{{ t('Change password', 'user') }}">
                            <i class="icon-key"></i>
                        </a>
                        <a href="{% url 'core:settings' %}" rel="tooltip" title="{{ t('Settings', 'admin') }}">
                            <i class="icon-settings"></i>
                        </a>
                        <a href="{% url 'admin:logout' %}" rel="tooltip" title="{{ t('Logout', 'user') }}">
                            <i class="icon-logout"></i>
                        </a>
                    </nav>

                    <h1 id="logo"><a href="{% url 'admin:index' %}"><i class="icon-mindy"></i> {{ get_version }}</a></h1>
                </header>

                <nav id="sidebar-menu">
                    {% include 'admin/menu.html' %}
                </nav>

                {{ debug_panel() }}
            </aside>

            <section id="main">
                <a id="hide-sidebar" rel="tooltip" title="{{ t('Hide / show sidebar', 'admin') }}" href="#">{{ t('Hide sidebar', 'admin') }}</a>
                <section id="content" class="{% block content_class %}{% endblock %}">
                    {% block breadcrumbs %}
                        {% include "admin/_breadcrumbs.html" %}
                    {% endblock %}

                    <section class="heading">
                        {% block heading %}{% endblock %}
                    </section>

                    {% block flash %}
                        {% include "admin/_flash.html" %}
                    {% endblock %}

                    {% for message in flash %}
                        <div data-alert class="alert-box">
                            {{ message }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}

                    <section class="content-wrap">
                        {% block content %}{% endblock %}
                    </section>
                </section>

                <footer id="footer" class="small-12 columns">
                    &copy; Studio107
                </footer>
            </section>

            <section id="last-column">
                <section class="last-columns-content">
                    {% include "admin/_user_actions.html" %}
                </section>
            </section>
        </section>
    </section>
</section>
</body>
</html>
