<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {%- if title or this.title -%}
        <title>{% if this.title %}{% for title in this.title %}{{ title }}{% if not loop.last %} - {% endif %}{% endfor %}{% else %}{{ title }}{% endif %}</title>
    {%- endif -%}
    <link rel="stylesheet" href="/static_admin/dist/css/1.0.0.all.css"/>
    <script src="/static_admin/dist/js/1.0.0.all.js"></script>

    <script src="/static_admin/vendor/ueditor107/dist/ueditor.all.js"></script>
    <script src="/static_admin/vendor/ueditor107/dist/lang/en/en.js"></script>
</head>
<body>
{% set cookie = request.cookies.get('sidebar-show') %}
<table id="wrapper-table">
    <tbody>
        <tr>
            <td id="sidebar-td"{% if cookie and cookie.value == 'true' %}{% else %} class="hide"{% endif %}>
                <div class="overflow-wrapper">
                    <div class="perfect-scrollbar">
                        {% include "admin/_sidebar.html" %}
                    </div>
                </div>
            </td>
            <td id="content-td">
                <div class="overflow-wrapper">
                    <div class="webkit-fix-padding-td">
                        <section id="content" class="{% block content_class %}{% endblock %}">
                            <section class="content-wrap">
                                {% block breadcrumbs %}
                                    {% include "admin/_breadcrumbs.html" %}
                                {% endblock %}

                                <section class="heading">
                                    {% block heading %}{% endblock %}
                                </section>

                                {% block flash %}
                                    {% include "admin/_flash.html" %}
                                {% endblock %}

                                {% block content %}{% endblock %}
                            </section>
                        </section>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>
