{% extends "admin/base.html" %}

{% block heading %}
    <h1>{{ t('User actions', 'admin') }}</h1>
{% endblock %}

{% block content %}
    <ul class="user-action-list admin">
        {% for message in messages %}
            <li>
                <span class="datetime">{{ message.humanized_date }}</span>
                {% if message.username != 'Guest' %}
                    <span class="user"><a href="{% url 'user.view' message.user_id %}">{{ message.username }}</a></span>
                {% endif %}
                <span class="message">{{ message.message|safe }}</span>
            </li>
        {% else %}
            <li>
                <span class="message">{{ t('Lately, nothing interesting happened.', 'admin') }}</span>
            </li>
        {% endfor %}
    </ul>

    {{ pager.render()|raw }}
{% endblock %}
