{% extends "admin/base.html" %}

{% block heading %}
    <h1>Действия пользователей</h1>
{% endblock %}

{% block content %}
    <ul class="user-action-list">
        {% for message in messages %}
            <li>
                <span class="datetime">{{ message.date }} {{ message.time }}</span>
                <span class="user">{{ message.user_id }} {{ message.username }}</span>
                <span class="message">{{ message.message }}</span>
            </li>
        {% endfor %}
    </ul>

    {{ pager.render()|raw }}
{% endblock %}
