<section class="model-info">
    {% for name, field in model.getFieldsInit() %}
        <section class="row">
            <section class="field">
                <section class="column large-3 field-label">
                    {% if field.verboseName  %}
                        {{ field.verboseName }}
                    {% else %}
                        {% if name == 'id' %}
                            {{ t('Number / identifier', 'admin') }}
                        {% else %}
                            {{ name|capitalize }}
                        {% endif %}
                    {% endif %}
                </section>
                <section class="column large-9 field-value">
                    {% set value = model.getField(name).getValue() %}
                    {% if field.choices %}
                        {{ field.choices[value] }}
                    {% else %}
                        {# @TODO: Fix me please #}
                        {% if field.className == 'Mindy\\Orm\\Fields\\DateTimeField' %}
                            {{ value|humanizeDateTime }}
                        {% else %}
                            {% if field.className == 'Mindy\\Orm\\Fields\\FileField' %}
                                <a href="{{ value }}">{{ value }}</a>
                            {% else %}
                                {{ value }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </section>
            </section>
        </section>
    {% endfor %}
</section>