<form action="" method="post" id="main-form">
    {% csrf_token %}
    {% include 'admin/admin/_toolbar.html' %}

    <section id="list" data-path="{{ request.getPath() }}">
        <table id="table-main" data-toggle="checkboxes" data-range="true">
            {% include "admin/admin/_table_head.html" %}
            <tbody>
            {% for model in models %}
                <tr data-pk="{{ model.pk }}">
                    <td class="check" align="left">
                        <input type="checkbox" name="models[]" id="check-{{ model.pk }}" value="{{ model.pk }}" />
                        <label class="checkbox-state" for="check-{{ model.pk }}"></label>
                    </td>
                    {% if sortingColumn %}
                        <td class="sorting"><i class="icon-menu"></i></td>
                    {% endif %}
                    {% for column in columns %}
                        <td{% if loop.first %} class="td-id" align="left"{% endif %}>
                            {% if loop.first %}
                                <a href="{% url 'admin.update' moduleName adminClass model.pk %}">
                                    {{ admin.getColumnValue(column, model) }}
                                </a>
                            {% else %}
                                {% set value = admin.getColumnValue(column, model) %}
                                {% set field = model.getField(column) %}
                                {% if field.className == 'Mindy\\Orm\\Fields\\HasManyField' or field.className == 'Mindy\\Orm\\Fields\\ManyToManyField' %}
                                    {% continue %}
                                {% endif %}
                                {% if field.className == 'Mindy\\Orm\\Fields\\BooleanField' %}
                                    {% if value %}
                                        {{ t('Yes', 'admin') }}
                                    {% else %}
                                        {{ t('No', 'admin') }}
                                    {% endif %}
                                {% elif field.choices and field.choices|has_key(value) %}
                                    {{ field.choices[value] }}
                                {% else %}
                                    {{ value }}
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                    <td class="actions">
                        {% include admin.actionsTemplate %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ pager.render("admin/admin/_pager.html")|raw }}
    </section>
</form>
{% include "admin/admin/_sorting.html" %}
