<thead>
<tr>
    <th class="check all">
        <input type="checkbox"{% if models|length == 0 %} disabled="disabled"{% endif %} id="check-all"/>
        <label class="checkbox-state" for="check-all"></label>
    </th>
    {% if sortingColumn %}
        <th class="sorting"><i class="icon-menu"></i></th>
    {% endif %}
    {% for column in columns %}
        {% set field = model.getField(column) %}
        {% if admin.orderColumn(column) %}
            {% set order_column = admin.orderColumn(column) %}
            {% set desc_order_column = '-' ~ order_column %}

            <th class="th-{{ column }} {% if currentOrder == order_column %}asc{% elseif currentOrder == order_column_desc %}desc{% endif %}">
                {% if currentOrder == order_column %}
                    {% set order = desc_order_column %}
                {% else %}
                    {% set order = order_column %}
                {% endif %}

                <a href="{% url 'admin:list' moduleName adminClass %}?order={{ order }}&search={{ request.getParam('search') }}&id={{ request.getParam('id') }}" data-column="{{ column }}">
                    {{ admin.verboseName(column) }}
                </a>
            </th>
        {% else %}
            <th class="th-{{ column }}">
                {{ admin.verboseName(column) }}
            </th>
        {% endif %}
    {% endfor %}
    <th class="actions">
        {{ t('Actions', 'admin') }}
    </th>
</tr>
</thead>